[submodule "CsharpObservableExample"]
	path = CsharpObservableExample
	url = https://github.com/manojap/CsharpObservableExample
[submodule "Secret-File-Generator--CSharp"]
	path = Secret-File-Generator--CSharp
	url = https://github.com/manojap/Secret-File-Generator--CSharp
[submodule "bookkeeper"]
	path = bookkeeper
	url = https://github.com/manojap/bookkeeper
[submodule "ListPrinterNames"]
	path = ListPrinterNames
	url = https://github.com/manojap/ListPrinterNames
[submodule "MPrinter-Utility"]
	path = MPrinter-Utility
	url = https://github.com/manojap/MPrinter-Utility
